body, h1, h2, h3, ul, li, p {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Computer Modern Serif', serif;
    background-color: #FFFFFF;
    color: #000000;
    margin: 0 auto;
    max-width: 800px;
    padding: 20px;
}

section {
    margin: 20px 0px;
}

header {
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
}

header p {
    padding: 0;
}

h1 {
    font-size: 2em;
    margin-right: 20px;
}

p {
    padding: 5px 0px 5px 0px;
}

.italic {
    font-style: italic;
}

.highlight {
    color: #ff0000;
}

a {
    color: #0000ff;
    text-decoration: none;
    white-space: nowrap;
}
a:hover {
    text-decoration: underline;
}

ul li {
    list-style-position: inside;
 }

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    object-fit: cover; /* Crop and cover the container */
    object-position: 50% 20%; /* Center the image in the container */

    box-sizing: border-box;
    border-radius: 5px;
}

.columns {
    display: grid;
    grid-template-columns: 1fr 2.5fr;
    grid-gap: 50px; /* Add space between grid items */
    padding: 10px 0px 10px 0px;
}
